<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User  App </title>
</head>
<body>

<form action="http://localhost:8000/userblogs/registerAction/" method="post">



<table class="table">
  <tr>
        <td> Name  </td>
        <td> 
            <input name="name" type="text" class="form-control"> 
        </td>
    </tr>


    <tr>
        <td> Username  </td>
        <td> 
            <input name="username" type="text" class="form-control"> 
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
                        <input name="password" type="text" class="form-control"> 

        </td>
    </tr>
    <tr>
        <td></td>
        <td> <button class="btn btn-success"> Register </button></td>
    </tr>

    <tr>
        <td></td>
        <td> <a href='http://localhost:8000/userblogs/login/'> Back to LogIn </a> </td>
    </tr>
</table>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>